/* Estilização que será aplicada a toda a aplicação*/


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    background-color: #dad7cd;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.3rem;
}

p {
    font-size: 1rem;
}
